body{
    background-color: black;
}
#superior{
    height: 135px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aqua;
}
#medio{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: beige;
}
#inferior{
    height: 400px;
    width: 100%;
    background-color: aquamarine;
}

#inferior img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}